spring:
  application:
    name: rest-with-spring-boot-and-java-erudio
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
#    url: jdbc:mysql://localhost:3306/barbershop?useTimezone=true&serverTimezone=UTC
    url: jdbc:mysql://localhost:3306/barbershop
    username: root
    password: root
  jpa:
    show-sql: false
  flyway:
    enabled: true
    baseline-on-migrate: true

logging:
  level:
    root: INFO